.reveal h1 {
    font-size: 1.7em;
    text-align: left;
}
.reveal p {
    text-align: left;
    font-size: smaller;
}
.reveal ul {
    text-align: left;
    font-size: smaller;
}
.reveal ol {
    text-align: left;
    font-size: smaller;
}
